#about {
  padding-top: 50px;
}
#about .header {
  padding-bottom: 0.5rem;
}
#about .container-about {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 2rem;
}
#about .container-about .container-text strong {
  font-weight: 500;
  color: #FF7F50;
}
#about .container-about .container-img img {
  width: 100%;
  border-radius: 10rem;
}