.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #FF7F50;
  color: white;
  transition: background 0.3s;
}

.btn-primary:hover {
  background: #ff5a1d;
}