* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: rgba(5, 102, 141, 0.5);
  background: linear-gradient(180deg, rgba(5, 102, 141, 0.5) 0%, rgb(255, 255, 255) 100%);
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 8%;
}

nav ul {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5%;
  font-size: 125%;
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}
nav ul li {
  position: relative;
}
nav ul li::after {
  content: "";
  width: 72%;
  height: 4px;
  background-color: #FF7F50;
  position: absolute;
  bottom: 0;
  left: 14%;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
nav ul li:hover::after {
  transform: scaleX(1);
}
nav ul li a {
  color: black;
  display: inline-block;
  text-decoration: none;
  padding: 15px 26px 10px;
  font-size: 1rem;
}

#home {
  padding-top: 140px;
  padding-bottom: 80px;
  font-size: 2.5rem;
}
#home .container-flip .icon.icon {
  font-size: 3rem;
}
#home .contact-header {
  font-size: 1rem;
  margin-top: 1rem;
}
#home .contact-header .copyboard {
  display: flex;
  margin: 0.5rem 0;
}
#home .contact-header .copyboard .container {
  padding: 0.5rem 1rem;
  background-color: rgba(40, 40, 40, 0.8);
  display: flex;
  align-items: center;
  color: white;
  border-radius: 0.25rem;
  gap: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
}
#home .contact-header .copyboard .container:hover {
  background: #252525;
}

#iconCopy .fa-file-circle-plus {
  color: white;
  cursor: pointer;
}
#iconCopy .fa-file-circle-check {
  color: #FF7F50;
  cursor: pointer;
}

#about {
  padding-block: 50px;
}
#about .header {
  padding-bottom: 0.5rem;
}
#about .container-about {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 2rem;
}
#about .container-about .container-text strong {
  font-weight: 500;
  color: #FF7F50;
}
#about .container-about .container-img img {
  width: 100%;
  border-radius: 10rem;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}