@import 'variables.scss';

#about {
  padding-top: 50px;

  .header {
    padding-bottom: 0.5rem;
  }

  .container-about {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 2rem;

    .container-text {
      strong {
        font-weight: 500;
        color: $primary-color;
      }
    }

    .container-img img {
      width: 100%;
      border-radius: 10rem;
    }
  }

}
