@import 'variables.scss';

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-primary {
  background-color: $primary-color;
  color: white;
  transition: background 0.3s;
}

.btn-primary:hover {
  background: darken($primary-color, 10);
}