/* General */
* {
  margin: 0;
  padding: 0;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 8%;
}
/* ./General */

nav ul {
  background-color: rgba(57, 79, 244, 0.9);
  color: #fff;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5%;
  font-size: 125%;
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

nav ul li {
  position: relative;
  /* padding: 15px 26px 10px; */
}

nav ul li a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 15px 26px 10px;
}

nav ul li::after {
  content: "";
  width: 72%;
  height: 4px;
  background-color: #f48480;
  position: absolute;
  bottom: 0;
  left: 14%;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav ul li:hover::after {
  transform: scaleX(1);
}
/* ./Navbar */

/* Home */
#home {
  padding-top: 140px;
  padding-bottom: 80px;
  background-color: #48d8a4;
  color: white;
  font-size: 2.5rem;
}

#home h1 {
  text-align: start;
}

#home .container-flip .icon.icon {
  font-size: 3rem;
}
/* ./Home */

/* About */
#about {
  padding-block: 50px;
}

.container-about {
  display: flex;
}

.container-about .container-img {
  width: 30%;
}

.container-about .container-img img {
  width: 100%;
}

.container-about .container-text {
  width: 70%;
}
/* ./About */

/* Footer */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
